**/a.out
**/*.o
**/*.exe
**/.idea
**/cmake-build-debug*
**/CMakeLists.txt
**/.git
**/.venv
**/__pycache__
**/.ruff_cache
**/.mypy_cache
**/.vscode
**/.ipynb_checkpoints
**/.python-version
**/.wake
**/.pytest_cache
**/*:Zone.Identifier
**/pytypes