<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fail_page.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/variables.css">

    <title>Chybová stránka</title>
</head>
<body>
<div class="page_wrap">
    <div class="content">
        <h1>Něco se pokazilo. Zkuste stránku načíst znovu.</h1>
        <h2>Error 404</h2>
    </div>
</div>

</body>
</html>